/* Шрифты*/
@font-face {
  font-family: ChivoMono;
  src: url("assets/fonts/ChivoMono-VariableFont_wght.ttf");
}
@font-face {
  font-family: Merriweather;
  src: url("assets/fonts/Merriweather-Regular.ttf");
}

/* Обнуление CSS */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/* Основные стили*/
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  flex: 1 1 auto;
}
.header,
.footer {
  background: rgb(255, 215, 190);
  border: 1px solid black;
  padding: 15px;
}

body {
  font-family: "Merriweather", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #444444;
}

.nav-list,
.footer {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
  transition: color 0.5s;
}

.link:hover {
  color: red;
}

li {
  line-height: 50px;
}
section > ul > li::before {
  content: "\27A4";
  margin-left: 10px;
  padding-right: 15px;
}

.user__img {
  border: 10px solid #444444;
  border-radius: 50%;
}

.section-title {
  font-family: "ChivoMono", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: black;
}
.section {
  background-color: rgb(255, 215, 190);
  box-shadow: 15px 15px 10px black;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px 0px;
  width: 50%;
}
@media (max-width: 1100px) {
  .section {
    width: 100%;
  }
  .nav {
    flex-direction: column;
  }
}
